<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheet.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
</head>
<body>

    <div class="container">
        <div class="row" id='columContainer'>
            <div class="col-sm" id='wentWell'>
            What went well
            </div>
            <div class="col-sm" id='didntGoWell'>
            What didn't go well
            </div>
            <div class="col-sm" id='actionPoints'>
            Action Points
            </div>
        </div>
    </div>







    <!-- <div id='mainContent'>
        <div id='chat-window'>
            <div id='output'></div>
            <div id='feedback'></div>
        </div>
        <input id='handle' type='text' placeholder='Handle' />
        <input id='message' type='text' placeholder='Message' />
        <button id='send'>Send</button>
    </div> -->

    <script src='/chat.js'></script>
</body>


</html>