<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheet.css' />

</head>
<body>

    <div class="container">
        <div class="row" id='columContainer'>
            
            <div class="col-sm" id='wentWell'>
                <div class='row'><p class='title'>What went well</p>
                
                </div>
                
                <div class='card' id='wentWellCards'>

                </div>
                <div class='row'>
                    <a class='addCard' id='wentWellAddCard'>+ Add Card</a>
                </div>
                <div class='row' id='wentWellAddInputBox'>
                    
                </div>
            </div>
            
            <div class="col-sm" id='didntGoWell'>
                <div class='row'><p class='title'>Could be Improved</p></div>
                <div class='row'>
                    <a class='addCard' id='couldImproveAddCard'>+ Add Card</a>
                </div>
            </div>
            
            <div class="col-sm" id='actionPoints'>
                <div class='row'><p class='title'>Action Points</p></div>
                <div class='row'>
                    <a class='addCard' id='actionPointsAddCard'>+ Add Card</a>
                </div>
            </div>

        </div>
    </div>

    <script src='/chat.js'></script>

    <script src='/dom.js'></script>

</body>


</html>